/* .homeInfo {
    position: absolute;
    z-index: -1;
    top: 65px;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
} */

/* .home-form {
    position: absolute;
    width: 1000px;
    display: flex;
    flex-direction: column;
    
}

.home-elem {
    width: 500px;
    height: 100%;

} */