.order-page {
    position: absolute;
    top: 120px;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.order-form {
    position: fixed;
    width: 500px;
    height: 650px;
    border: 2px solid aliceblue;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-form h1 {
    margin-bottom: 30px;
}

.order-form p {
    font-size: 20px;
}

.order-form form {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.order-form label {
    left: 0px;
    font-size: 18px;
}

.order-form input[type="text"]{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    color: black;
}